# Ignore everything
*

# Except for the folders
!pdfs/
!src/
!plots/
!ideas/

# Except for contents inside the folders
!pdfs/**
!src/**
!plots/**
!ideas/**

# Except for submission files
!.gitignore
!requirements.txt
!README.md


.venv/
